
body{
    background-color: #2b2a2a;
    font-family: 'Courier New', Courier, monospace;
}
h1{
   color: white;
   text-align: center;
   font-size: 64px;
}
img{
   border-radius: 14px;
   position: absolute;
   top: 999px;
   left: 350px;}
p{
   color: white;
   text-align: center;
   font-size: 21px;
}
li{
   color: white;
}

